body {
  margin-right: 20px;
}

body h3 {
  color: #222222;  
  background-color: #A8B4BD;
  border: 2px solid #989EA4;
  padding-left: 5px;
  margin-bottom: 0px;
  font-size: 18px;
}

.button,
.item .button
{
  border: 2px solid #00AA00;
  background-color: #00FF00;
  width: 60px;
  text-align: center;
  font-size: 12px;  
  float: right;
}

.no_float
{
  float: none;
}

.item
{
  font-size: 16px;
  border-bottom: 1px solid #D1D1D1;
  height: 18px;
  padding: 5px;
}

.item .text
{
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

.item a:active {
  background-color: #00AA00;  
}

#item_form input
{
  margin-top: 5px;
  width: 60px;
}

#item_form .button
{
  margin-left: 5px;
}
